*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background:  url(foto1.jpg);
    
    background-position: center;
    background-size: cover;
    height: 100vh;
}



.navbar{

    width: 1200px;
    height: 75px;
    margin: auto;
    background-color:black;
    opacity: 0.7;

}

.icon{
    width: 200px;
    float: left;
    height: 72px;



}

.logo{

    color: chocolate;
    font-size: 35px;
    font-family: Arial;
    float: left;
    padding-left: 27px;
    padding-top: 12px;
    margin-top: 4px;

}


.menü{
    width: 400px;
    float: left;
    height: 72px;
  
    
    
}



ul{
    
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}


ul li{
    list-style: none;
    margin-left: 52px;
    margin-top: 23px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    transition: 4s ease-in-out;
    


}


ul li a:hover{
    color: #f47e00;




}


.arama{

    width: 350px;
    float: left;
    margin-left: 250px;

}

.ara{
    font-family: Arial;
    width: 195px;
    height: 40px;
    background: transparent;
    border: 1px solid #f47e00;
    margin-top: 14px;
    color: #fff;
    border-right: none;
    font-size: 14px;
    float: left;
    padding: 10px;
    border-bottom-left-radius:5px ;
    border-top-left-radius: 5px;

}



.btn{
    width: 100px;
    height: 43px;
    background: #f47e00;
    margin-top: 14px;
    color: #fff;
    font-size: 14px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: 2s ease;
    cursor: pointer;

}

.btn:hover:{
    color: #212121;

}
.btn:focus{
    outline: none;
}

.ara{
    outline: none;
}

.icerik{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;

}

.icerik h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 27px;
    margin: %8;
    letter-spacing:2.1px;

}

.icerik .par{
    padding-left: 27px;
    padding-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing:1.2px;
    line-height: 30px;
}

.icerik .katilin{
    width: 155px;
    height: 40px;
    background: #f47e00;
    border: none;
    margin-bottom: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: 4s ease;
}


.icerik .katilin a{
    text-decoration: none;
    color: #000;
    transition: 3s ease;
}



.katilin:hover{
    background-color: #f47e00;
}


.icerik span{
    color: #f47e00;
    font-size: 68px;
}


.form{
    color: #fff;
    width: 300px;
    height: 380px;
    position: absolute;
    background: linear-gradient( to top, rgba(240, 4, 4, 0.986)50%,rgba(78,15,104,0.7) ) ;
    top:20px;
    left: 835px;
    transform: translate(32%, 35%);
    border-radius: 10px;
    padding: 20px;
}


.form h2{
    width: 220px;
    font-family: Arial;
    color: #f47e00;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    background: #fff;
    
}

.form input{
    width: 240px;
    height: 37px;
    background: transparent;
    border-bottom: 1px solid #f47e00;
    border-top : none;
    border-left: none;
    border-right: none;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: Arial;

}

.form input:focus{
    outline: none;
    

}

::placeholder{
    color: #fff;
    font-family: Arial;
    
}


.giris{
    width: 240;
    height: 40px;
    background: #f47e00;
    border: none;
    margin-top: 30px;
    font-size: 17px;
    border-radius: 10px;
    color: #fff;
    transition: 4s ease;
}


.giris:hover{
    background: #fff;
    color: #f47e00;

}

.giris a{
    text-decoration: none;
    color: #1422dd;
    font-weight: bold;

}

.form .link{
    font-family: Arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

















